# VSCode
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
!*.code-workspace

# MacOS
.DS_Store
__MACOSX/
._*

# Node
node_modules
dist

# Cloudflare & Wrangler
.wrangler

# Local env / secrets
.env.local
.dev.vars
